<div class="row">
  <div class="col-md-12" ng-show="vms.length > 0">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a id="addNewBtn" class="btn btn-lg btn-info" href="#/edit_vm/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add
          new
          Virtual Machine</a>
      </div>
    </nav>
    <table class="table table-striped table-bordered">
      <thead>
      <th>Name&nbsp;</th>
      <th>State&nbsp;</th>
      <th>Action&nbsp;</th>
      </thead>
      <tbody>
      <tr ng-repeat="vm in vms">
        <td>{{vm.name}}</td>
        <td>{{vm.powerState}}</td>
        <td><a href="#/edit_vm/{{vm.id}}" class="btn editLink">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit
          Virtual
          Machine</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12" ng-show="vms.length == 0">
    <div class="col-md-12">
      <h4>No virtual machines found</h4>
    </div>
  </div>
</div>